<h1><%= I18n.t('posts.new.title') %></h1>

<!-- Вместо <h1>Новая статья</h1>  сделаем перевод автоматически, ('posts.new.title') - путь к перефоду-->

<%= render 'form' %>  <%# Создадим шаблон ФОРМ в папке ПОСТ %>